/*
    COMBINATORS
        Combinadores, pois eles trabalham para buscar e combinar seletores a f
        
    DESCENDANT COMBINATOR
        -identificado por um espaço entre os seletores
        -busca um elemento dentro de outro

    css
    body article h2

    CHILD COMBINATOR
        -identificado pelo sianl > entre dois seletores
        -seleciona somente o elemento que é filho direto do pai
        -elementos depois do filho direto serão desconsiderados

    css
    body > ul > li

    ADJACENT SIBLING COMBINATOR
        -identificado pelo sinal + entre dois seletores
        seleciona somente o elemento ao lado que é irmão direto na hierarquia 
    
    css    
    h1 + p

    GENERAL SIBLING COMBINATOR
        -identificado pelo sinal ~ entre dois seletores
        -seleciona todos os elementos irmãos
    css
    h1 ~ p
*/


/* DESCENDANT COMBINATOR*/
body article h2{
    color:green;
}


/* CHILD COMBINATOR*/
body > ul > li{
    color: yellow;
}

/*ADJACENT SIBLING COMBINATOR*/
button + button{
    color: violet;
    margin-left: 30px;
}

/*GENERAL SIBLING COMBINATOR*/
input ~ input{
    background-color: yellowgreen;
}