/*
    PSEUDO-CLASSES
    é um tipo de seletor que irá selecionar um elemento que estiver em um
    estado especifico.

    exemplo: é o primeiro elemento dentro de uma caixa, ou, o elemento esta
    com o ponteiro do mouse em cima dele.

    pseudo-classes começam com 2 pontos seguido do nome da pseudo class
    `:pseudo-class-name`

    SELECIONANDO ELEMENTOS COM PSEUDO-CLASSES
    * :first-child
    * :nth-of-type()
    * :nth-child()

    AÇõES DO USUÁRIO
    *:hover
    *:focus

    ATRIBUTOS
    *:disabled
    *:required

    MOZILLA.ORG -->REFERENCIA
    
*/

/*FIRST-CHILD*/
ul li:first-child {
    font-weight: bold;
    color:brown;
}

/*NTH-OF-TYPE*/
#exemplo p:nth-of-type(2) {/*pega o elemento que eu indicar entre ()*/
    font-weight: bold;
    font-size: 15px;
}

/*NTH-CHILD*/
#article p:nth-child(2){/*conta os filhos de article*/
    font-weight: bold;
    font-size:18px;
    color: chocolate;
}

/*nth-child odd e even*/
ol li:nth-child(odd){ /*odd numeros impares, even numeros pares- ficando 1 selecionado e 1 não*/
    color:darkorange;
    
}
ol li:nth-child(even){
    background:darkseagreen;
}

/*HOVER E FOCUS*/
a:hover{
    color: brown;
    font-size: 20px;
}
input:focus{
    background-color:red;
    border-color: rgb(130, 42, 165);
    /*outline: none;*/
}