/* 
    PROPRIEDADES PARA OS ITENS
    -flex-basis - por padrão é auto
    -flex-grow  - o crescimento do item dentro do container em relação aos espaços vazios.
    -flex-shrink - o encolher do item dentro do container
    -flex (shorthand) flex-grow, flex-shrink, flex-basis, podem ter 1,2 ou 3 valores
    -order
*/

/*flex-BASIS*/
/*
.box{
    display:flex;
    border: 1px dashed red;
}
.box div{
    border: 1px solid plum;
    flex-basis: 25%;
}
*/

/*-----------------------------------------------------------------*/

/*flex-grow*/
/*
.box div:nth-child(2),
.box div:nth-child(3){
    flex-grow: 1;
}
.box div:nth-child(1){
    flex-grow: 2;
}*/

/*-----------------------------------------------------------------*/

/*flex-shirink*/
/*
.box{
    display:flex;
    border: 1px dashed red;
    width: 160px;
}
.box div{
    flex-basis: 100%;
    border: 1px solid plum;
}
.box div:nth-child(2){
    flex-shrink: 1;
}
*/

/*-----------------------------------------------------------------*/

/*flex (shorthand)*/
/*
.box{
    display:flex;
    border: 2px dashed red;
}
.box div{
    border: royalblue solid;
    flex:0 1 40px;
}
*/

/*-----------------------------------------------------------------*/
/*shorthand na prática */
/*
.page{
    border:2px solid;
    min-height:100vh;
    display: flex;
}
aside{
    background:lightgreen;
    flex: 1;
}
main{
    background: lightblue;
    flex: 2;
    display: flex;
    flex-direction: column;
}
main section:nth-child(1){
    background: lightgoldenrodyellow;
    flex: 0 0 100px;
}
main section:nth-child(2){
    background: lightsalmon;
    flex: 0 400px;
}
main section:nth-child(3){
    background: lightpink;
    flex: 1 0;
}
*/

/*-----------------------------------------------------------------*/
/*ORDER*/
.box{
    display:flex;
    border: 1px dashed red;
}
.box div{
    border: 1px solid plum;
}
.box div:nth-child(1){
    order:1;
}
.box div:nth-child(2){
    order:20;
}
.box div:nth-child(3){
    order:0;
}
.box div:nth-child(4){
    order:-1;
}