/*
    DIREÇÃO DOS ITENS
    -Flex é uma dimensão (horizontal ou vertical)
    -podemos mudar a direção com `flex-direction`
    -valores:(row | row-reverse | column | column-reverse)

    FLEX-WRAP
    -podemos usar multiplas linhas
    -cada nova linha, um novo flex container

    FLEX-FLOW
    -shorthand
    -flex-direction || flex-wrap
    Direção e multi linha em uma única propriedade

    JUSTIFY-CONTENT
    -alinhamento dos elementos dentro do container
    -distribuição dos elementos
    VALORES
    -flex-start
    -flex-end
    -center
    -space-around
    -space-between
    -space-evenly

    ALIGN-ITEMS
    -alinhamento dos elementos no eixo cruzado
    VALORES
    -stretch
    -flex-start
    -flex-end
    -center

    GAP
    -espaço entre os elementos
    VALORES
    unidade de medidas
    fixas:px, pt
    flexíveis:%, em, rem

*/

/*DIREÇÃO DOS ITENS*/
.flexcontainer{
    display: flex;
    flex-direction: row-reverse;
}

/*FLEX-WRAP*/
.box{
    display: flex;
    /*flex-wrap: wrap;*//*vai permitir criar novas linhas, caso ultrapasse o tamanho*/
    /*FLEX-FLOW
    flex-flow: row wrap;
    */
    border: 1px dashed red;
    /*height: 150px;*/
    /* JUSTIFY-CONTENT*/
    /*justify-content:space-evenly ;*/
    /* ALIGN-ITEMS*/
    /*align-items: flex-end;*/
    gap:2rem; /*espaço colocado entre eles*/
}

.box div{
    border: 1px solid green;
    /*width: 100px;*/
}


