<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {pagina:'Sobre'}) %> <!--posso passar um obj escreve qualquer mensagem e mandar no head e sera redenrizado na pagina-->

<body class="container">
    <%- include('./partials/header') %>
    
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá mundo! - sou aprendiz da rocketseat - @bea.soul</p>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>